<!DOCTYPE html>
<html lang="zh">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" href="{% static '/css/Home.css'%}">
</head>

<body>
    <div class="title">多来点餐</div>
    <div class="login-box">
        <h1>登录</h1>
        <form>
            <label for="username">用户名：</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">密码：</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">登录</button>
        </form>
        <p>还没有账号？<a href="{% url 'register'%}">立即注册</a></p>
        <p>切换到<a href="merchant_login.html">商家版</a></p>
    </div>
</body>
</html>